.DS_Store
/node_modules/

# Vite
# /dist/

app/components/node_modules

# React Router
/.react-router/
/build/

# Performance
/performance/performance-reports/
/performance/compare-perf-images/

# PUBILSHING.md
/PUBLISHING.md